<div class="inner-header">
   <div class="container">
      <div class="pull-left">
         <h6 class="inner-title">Checkout</h6>
      </div>
      <div class="pull-right">
         <div class="beta-breadcrumb">
            <a href="index.html">Home</a> / <span>Checkout</span>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</div>
<div class="container">
   <div id="content">      
      <div class="space10">&nbsp;</div>
      <form action="checkout.html#" method="post" class="beta-form-checkout">
         <div class="row">
            <div class="col-sm-6">
               
            </div>
            <div class="col-sm-6">
               <%= render 'items', :order => current_order %>
            </div>
         </div>
      </form>
   </div>
   <!-- #content -->
</div>
<!-- .container -->