
		
	<div class="container">
		<div id="content">
			<h2 class="text-center wow fadeInDown">¿Quines Somos?</h2>
			<div class="space20">&nbsp;</div>
			<div class="row">
				<div class="col-sm-7 wow fadeInLeft"><img src="../../assets/aboutme.jpg" alt=""></div>
				<div class="col-sm-5 wow fadeInRight">
					<div class="beta-testimonial-detail">
						<p class="beta-testimonial-title">Pangea Store</p>
						<p class="beta-testimonial-position">by Pangea Group International</p>
					</div>

					<p>Somos una empresa que se dedica a la promoción y comercialización de productos de origen natural y saludable para el consumo humano, que a su vez guardan responsabilidad con el medio ambiente desde los procesos productivos hasta las disposición de los desechos......deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia laborum et dolorum fuga. Et cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
					<div class="space20">&nbsp;</div>
				 <div class="row">
				  <div class="col-sm-9">
					<div class="panel-group" id="accordion">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="about_1.html#collapseOne">
					          Vision &amp; Mission <span class="accordion-circle"><i class="fa fa-plus"></i></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="about_1.html#collapseTwo">
					          Philosophy <span class="accordion-circle"><i class="fa fa-plus"></i></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="about_1.html#collapseThree">
					          Projects <span class="accordion-circle"><i class="fa fa-plus"></i></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
					      </div>
					    </div>
					  </div>
					</div> <!-- end of accordion -->
					</div>
				   </div>
				</div>
			</div>
			<div class="space50">&nbsp;</div>
			<hr>
			<div class="space50">&nbsp;</div>

			<div class="row">
				<div class="col-sm-3">
					<div class="beta-rotator" data-text="90%" data-width="5" data-fontsize="40" data-percent="90" data-fgcolor="#3a5c83" data-total="200" data-part="35"></div>
					<h6 class="text-center">Web Design</h6>
				</div>
				<div class="col-sm-3">
					<div class="beta-rotator" data-text="96%" data-width="5" data-fontsize="40" data-percent="96" data-fgcolor="#3a5c83" data-total="200" data-part="35"></div>
					<h6 class="text-center">Web Developing</h6>
				</div>
				<div class="col-sm-3">
					<div class="beta-rotator" data-text="75%" data-width="5" data-fontsize="40" data-percent="75" data-fgcolor="#3a5c83" data-total="200" data-part="35"></div>
					<h6 class="text-center">Video Marketing</h6>
				</div>
				<div class="col-sm-3">
					<div class="beta-rotator" data-text="100%" data-width="5" data-fontsize="40" data-percent="100" data-fgcolor="#3a5c83" data-total="200" data-part="35"></div>
					<h6 class="text-center">Customers Support</h6>
				</div>
			</div> <!-- end of circle progressbar -->

			<div class="space60">&nbsp;</div>
			<hr>
			<div class="space70">&nbsp;</div>

			<div class="row">
				<div class="col-sm-6 wow fadeInLeft">
					<h2>Some of My Highlights</h2>
					<div class="space20">&nbsp;</div>
					<div class="panel-group" id="accordion2">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion2" href="about_1.html#collapseOneThree">
					          My Favourite Projects <span class="accordion-circle"><i class="fa fa-plus"></i></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOneThree" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion2" href="about_1.html#collapseTwoThree">
					          The Highest Accomplishments <span class="accordion-circle"><i class="fa fa-plus"></i></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwoThree" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion2" href="about_1.html#collapseThreeThree">
					         My Work Process <span class="accordion-circle"><i class="fa fa-plus"></i></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThreeThree" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion2" href="about_1.html#collapseFourThree">
					         Off Topic Favorite Things to Do <span class="accordion-circle"><i class="fa fa-plus"></i></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseFourThree" class="panel-collapse collapse">
					      <div class="panel-body">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
					      </div>
					    </div>
					  </div>
					</div> <!-- end of accordion -->
				</div>
				<div class="col-sm-6 wow fadeInRight">
					<h2>Testimonials</h2>
					<div class="space20">&nbsp;</div>
					<div class="beta-slider beta-testimonials-slider">
						<div class="beta-pager">
						  <a data-slide-index="0" href="about_1.html"><span class="beta-pager-item"></span></a>
						  <a data-slide-index="1" href="about_1.html"><span class="beta-pager-item"></span></a>
						  <a data-slide-index="2" href="about_1.html"><span class="beta-pager-item"></span></a>
						</div>
						
						<div class="beta-slider-items">
							<div>“Nemo enim ipsam volupt quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui ipsum dolor sit amet...”</div>
							<div>“Nemo enim ipsam volupt quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui ipsum dolor sit amet...”</div>
							<div>“Nemo enim ipsam volupt quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui ipsum dolor sit amet...”</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- #content -->
	</div> <!-- .container -->

	
           