	
	<div class="inner-header">
		<div class="container">
			<div class="pull-left">
				<h6 class="inner-title">Portfolio</h6>
			</div>
			<div class="pull-right">
				<div class="beta-breadcrumb font-large">
					<a href="index.html">Home</a> / <span>Portfolio</span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<div class="container">
		<div id="content2">
			<div class="beta-filter-containers">
			 <div class="portfolio-filters">
				<div class="beta-filter text-right">
					<ul id='filters'>
                            <li class="active"><a href="portfolio_3col.html#" data-filter="*">View all</a></li>
                            <li><a href="portfolio_3col.html#" data-filter=".web" >Web</a></li>
                            <li><a href="portfolio_3col.html#" data-filter=".photography">Photography</a></li>
                            <li><a href="portfolio_3col.html#" data-filter=".illustrations">Illustrations</a></li>
                        </ul>
				</div>
				<div class="space20">&nbsp;</div>
				<div class="beta-filter-bodys portfolio-page">
				<div class="portfolioitems-holder beta-overflow">
				<ul id="portfolioitems" class="isotope">
					<li class="box-port-filter web isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/1.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/1.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Ut enim ad minim</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					 </li>
					 <li class="box-port-filter photography isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/2.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/2.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Reprehenderit qui in ea</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					 </li>
					 <li class="box-port-filter web photography isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/3.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/3.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Excepteur sint occaecat</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</li>
					
					
					

					<li class="box-port-filter illustrations isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/1.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/1.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Ut enim ad minim</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</li>
					<li class="box-port-filter web illustrations isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/2.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/2.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Reprehenderit qui in ea</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</li>
					<li class="box-port-filter web photography illustrations isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/3.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/3.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Excepteur sint occaecat</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</li>
					
					

					<li class="box-port-filter photography illustrations isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/1.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/1.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Ut enim ad minim</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</li>
					<li class="box-port-filter web photography illustrations isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/2.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/2.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Reprehenderit qui in ea</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</li>
					<li class="box-port-filter illustrations isotope-item col-sm-4">
						<div class="box-filter-holder">
							<div class="work-item portfolio-type-b">
								<div class="work-item-over">
									<p class="work-item-actions">
										<a class="colorbox" href="assets/dest/images/portfolio/3col/3.jpg"><i class="fa fa-search"></i></a>
										<a href="portfolio_single.html"><i class="fa fa-link"></i></a>
									</p>
								</div>
								<img src="assets/dest/images/portfolio/3col/3.jpg" alt="">
							</div>
							
							<div class="space20">&nbsp;</div>
							<h5><a href="portfolio_single.html">Excepteur sint occaecat</a></h5>
							<p>Ut enim ad minim veniam, quis norud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</li>
				</ul>	
				</div>
				</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div> <!-- #content -->
	</div> <!-- .container -->

	